# Files listed with "export-ignore" will not be archived with the git archive command.
# Use this to create a clean copy of the mod suitable for upload to NexusMods or for extracting
# and uploading to Steam Workshop.
# Command:
#    git archive --format zip -o /path/to/outfile.zip branchname_to_archive
# e.g.
#    git archive --format zip -o C:\Users\Username\MartianTribune_1.0.3.zip master
*.xlsx export-ignore
Martian?Tribune?Preview?Picture.png export-ignore
.gitattributes export-ignore